@charset "UTF-8";

body{
    font-family: "Dela Gothic One", sans-serif;
    background-image: url(../images/sushiback.jpg);
    background-size: cover; /* 背景画像を画面全体に表示 */
    /* background-position: center; 画像を中央に配置 */
    background-repeat: no-repeat;
    /* position: relative; オーバーレイ用に相対位置を指定 */
    overflow:hidden ;
}

/* body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); /* 黒色の半透明オーバーレイ
} */

.contents{
 display: flex;
}

/* タイトル */
.main_tittle {
    font-family: "Dela Gothic One", sans-serif; 
    font-weight: 400;
    font-style: normal;
    color: #333; 
    font-size: 63px;
    text-align: center;
    margin: 0;
    padding: 0;
} 

/* クイズ */
.quiz {
    width: 500px;
    margin: 34px 0 64px 82px;
    padding-top: 100px;
}
.quiz img{
    width: 50px;
    float: left;
    margin-top: 30px;
    margin-left: -43px;
}

.question{
    font-size: 26px;
    margin-top: 30px;
}

button {
    all: unset;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 22px;
    margin: 13px;
    padding: 0 20px 20px 20px;
    writing-mode: tb-rl;
    text-orientation: upright;
    background-image: url("../images/sushi_kaiten_sara2_green.png");
    background-position: top;
    background-size: 100%; /* 画像をボタンに合わせて拡大または縮小 */
    background-repeat: no-repeat;
}

#next-btn{
    all: unset;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333; /* フォントの色 */
    font-size: 30px;
    padding: 15px 30px; /* ボタンのパディングを大きくする */
    background-color: #C75961;
    color: #fff;
    border: none;
    border-radius: 8px; /* ボーダーの角を丸くする */
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    left: 393px;
    bottom: 27px;
}

#next-btn:hover {
    background-color: #c7596093;
}

div#answers-container {
    width: 57%;
    display: flex;
}

/* お寿司側右画面 */
#dishes {
    position: absolute;
    width: 39%;
    height: 37%;
    top: 260px;
    left: 697px;
    z-index: 999;
    transform: skewX(30deg);
}

#dishes img {
    width: 14%;
    margin: -7px -5px;
    padding: 0;
    transform: skewX(-30deg);
}

.talk {
    display: flex;
    margin-left: -116px;
}

img.itamae1{
    width: 150px;
    margin-right: 20px; /* 画像間の間隔を設定 */
}

img.sushigeta{
    width: 750px;
    margin: -40px auto;
    display: block;
    z-index: 3;
    /* transform: scale(-1, 1); */
}

img.sushineta1{
    width: 80px;
    position: absolute;
    right: 130px;
    top: 50px;
    
}

img.sake {
    position: absolute;
    width: 11%;
    bottom: 103px;
    left: 400px;
}

img.syouyu {
    position: absolute;
    width: 11%;
    bottom: 94px;
    left: 535px;
}

img.sushineta2{
    width: 100px;
    position: absolute;
    right: 50px;
    top: 50px;
}

h2#taishou {
    text-align: center;
    letter-spacing : 3px;
    position: relative; 
    display: inline-block;
    margin: 18px -0.5em 3.5em 0;
    padding: 25px 10px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 30px;
    background: #fddda0;
    border-radius: 15px;
    width: auto;
    height: auto;
}

h2#taishou:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #fddda0;
  }

.osushi {
    width: 800px;
    display: flex;
    flex-direction: column; /* 子要素を縦方向に配置 */
    align-items: center; /* 子要素を中央揃え */
}
button#okanjou {
    all: unset;
    position: absolute;
    bottom: 27px;
    right: 31px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    font-size: 30px;
    padding: 15px 30px;
    background-color: #C75961;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 4;
    cursor: pointer;
}
button#okanjou:hover {
    background-color: #ec5e68;
}